[Unit]
Description=Telegram bot 'Aggregator-mock'
After=syslog.target
After=network.target

[Service]
Type=simple
User=dozer
WorkingDirectory=/home/dozer/telegrambots/2parentstgbot/
ExecStart=/usr/bin/python3 /home/dozer/telegrambots/2parentstgbot/agregator-moc$
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
