[Unit]
Description=Telegram bot 'Aggregator-mock'
After=syslog.target
After=network.target

[Service]
Type=simple
User=dozer
WorkingDirectory=/home/dozer/telegrambots/toparents/
ExecStart=/usr/bin/python3 /home/dozer/telegrambots/toparents/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
